<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ICP-Image Check Platform signin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/src/icp-style.css}"/>
    <script type="text/javascript" th:src="@{/js/lib/vue.min.js}" />
</head>
<body>
    <div id="main" class="container">

        <div id="header">
            <a id="signout" type="button" href="signin" class="btn btn-danger btn-xs">Signout</a>
        </div>
        <div id="reviewList">
            <p>待复核列表</p>
            <div class="tbContainer">
                <table class="table table-hover reviewListTb">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Package Id</th>
                            <th>Image Key</th>
                            <th>Activation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reviewImg, iter : ${reviewList}" th:onclick="'javascript:reviewClicked(\'' + ${reviewImg.imageId} + '\');'">
                            <td th:text="${iter.index + 1}"></td>
                            <td th:text="${reviewImg.imagePackage.packageId}"></td>
                            <td th:text="${reviewImg.imageKey}"></td>
                            <td th:text="${#dates.format(reviewImg.activationDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <nav id="reviewListNav" aria-label="Page navigation" th:if="${reviewMaxPg > 1}">
              <ul id="reviewNavUl" class="pagination pagination-sm">
                <li class="first disabled">
                  <a href="#" aria-label="Previous" th:onclick="'javascript:reviewNavClicked(\'' + ${1} + '\');'">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(1,reviewMaxPg)}">
                    <li th:classappend="${i==1}?'active':''"><a href="#" th:text="${i}" th:onclick="'javascript:reviewNavClicked(\'' + ${i} + '\');'"></a></li>
                </th:block>
                <!--li class="eclipsis disabled"><a>...</a></li-->
                <li class="last">
                  <a href="#" aria-label="Next" th:onclick="'javascript:reviewNavClicked(\'' + ${reviewMaxPg} + '\');'">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
          </nav>

        </div>

        <div id="checkList">
            <p>待审核列表</p>
            <div class="tbContainer">
                <table class="table table-hover imgListTb">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Package Id</th>
                            <th>Image Key</th>
                            <th>Activation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="img, iter : ${checkList}" th:onclick="'javascript:checkClicked(\'' + ${img.imageId} + '\');'">
                            <td th:text="${iter.index + 1}"></td>
                            <td th:text="${img.imagePackage.packageId}"></td>
                            <td th:text="${img.imageKey}"></td>
                            <td th:text="${#dates.format(img.activationDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <nav id="checkListNav" aria-label="Page navigation" th:if="${checkMaxPg > 1}">
              <ul id="checkNavUl" class="pagination pagination-sm">
                <li class="first disabled">
                  <a href="#" aria-label="Previous" th:onclick="'javascript:checkNavClicked(\'' + ${1} + '\');'">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(1,checkMaxPg)}">
                    <li th:classappend="${i==1}?'active':''"><a href="#" th:text="${i}" th:onclick="'javascript:checkNavClicked(\'' + ${i} + '\');'"></a></li>
                </th:block>
                <!--th:block th:if="${checkMaxPg&gt;10}">
                    <th:block th:each="i : ${#numbers.sequence(1,8)}">
                        <li th:classappend="${i==1}?'active':''"><a href="#" th:text="${i}" th:onclick="'javascript:checkNavClicked(\'' + ${i} + '\');'"></a></li>
                    </th:block>
                    <li class="eclipsis disabled"><a>...</a></li>
                    <li><a href="#" th:text="${checkMaxPg}" th:onclick="'javascript:checkNavClicked(\'' + ${10} + '\);'"></a></li>
                </th:block-->

                <li class="last">
                  <a href="#" aria-label="Next" th:onclick="'javascript:checkNavClicked(\'' + ${checkMaxPg} + '\');'">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

        </div>

    </div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/src/icp-vue.js}" />
<script type="text/javascript" th:src="@{/js/lib/jquery-3.1.1.min.js}" />
</body>
</html>
