<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ICP-Image Check Platform signin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/src/icp-style.css}"/>
    <script type="text/javascript" th:src="@{/js/lib/vue.min.js}" />
</head>
<body>
    <div id="check" class="container">
        <div id="header">
            <a id="back" type="button" href="main" class="btn btn-primary btn-xs">HomePage</a>
            <a id="signout" type="button" href="signin" class="btn btn-danger btn-xs">Signout</a>
        </div>

        <div id="imgContainer">
            <img th:src="'data:image/jpg;base64, ' + ${imgBase64}"></img>
        </div>

        <div id="checkRst">
            <form class="form-check-rst" th:object="${checkRst}" method="post">
                <button id="okBtn" type="submit" class="btn btn-success" name="action" value="pass">通过</button>
                <button id="nokBtn" type="button" class="btn btn-danger" onclick="nokClicked()">未通过</button>
                <div id="reasonDiv">
                    <ul>
                        <li><input id="reason1" type="radio" name="reason" onclick="radioClicked()" value="reason1">&nbsp;reason1</input></li>
                        <li><input id="reason2" type="radio" name="reason" onclick="radioClicked()" value="reason2">&nbsp;reason2</input></li>
                        <li><input id="reason3" type="radio" name="reason" onclick="radioClicked()" value="reason3">&nbsp;reason3</input></li>
                    </ul>
                    <button id="submitBtn" type="submit" class="btn btn-default" name="action" value="npass" disabled="true">提交</button>
                </div>
            </form>
        </div>

    </div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/src/icp-vue.js}" />
</body>
</html>
